<section class="footer-camp">
    <h4>About Us</h4>
    <p>Chinese and Americans Are Good Friends Forever!</p>
    <div class="icons"></div>
</section>

<!-- Footer -->
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h2> Quick Links</h2>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/courses">PROGRAM</a>
            <a href="/services">SERVICE</a>
            <a href="/contact">CONTACT</a>
        </div>

        <div class="box">
            <h2> Location</h2>
            <a href="">Bangor Chinese School</a>
            <a href="">53 Cumberland Street</a>
            <a href="">Bangor, ME 04401</a>
        </div>

        <div class="box">
            <h2> Contact Us</h2>
            <a href=""><i class="fa-solid fa-phone"></i> Phone: (207) 990-0710</a>
            <a href=""><i class="fa-solid fa-fax"></i> FAX: (207) 990-5158</a>
            <a href=""><i class="fa-solid fa-envelope"></i> Email: jingzhang@bangorchinese.com</a>
            <a href=""><i class="fa-brands fa-skype"></i> Skype: stskype9</a>
        </div>

        <div class="box">
            <h2> Follow Us</h2>
            <a href=""><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a href=""><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href=""><i class="fa-brands fa-instagram"></i> Instagram</a>
            <a href=""><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        </div>
    </div>

    <div class="created"> This site is designed and maintained with <i class="fa-regular fa-heart"></i> by <span>Wei
            Cheng
        </span></div>
</section>
</body>

</html>
