<section class="sub-header_2">
    <nav>
        <a href="/"><img src="/images/logo.png" alt="logo: CLCC - Chinese Language Culture Center"></a>
        <div class="menu-links" id="menu_links">
            <i class="fa fa-times fa-2x" onclick="uncollapse_menu()"></i>
            <ul>
                <li><a href="/admin">ADMIN</a></li>
                <li><a href="/admin/create-course">CREATE COURSE</a></li>
                <li><a href="/admin/create-service">CREATE SERVICE</a></li>
                <li><a href="/logout">LOG OUT</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars fa-2x" onclick="collapse_menu()"></i>
    </nav>
