<section class="sub-header_2">
    <nav>
        <a href="/"><img src="/images/logo.png" alt="logo: CLCC - Chinese Language Culture Center"></a>
        <div class="menu-links" id="menu_links">
            <i class="fa fa-times fa-2x" onclick="uncollapse_menu()"></i>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/course">PROGRAM</a></li>
                <li><a href="/community">SERVICE</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars fa-2x" onclick="collapse_menu()"></i>
    </nav>
