<%- include('../partials/head') -%>

<%- include('../partials/navbar-leaf') -%>

    <h1>About Us</h1>
</section>
    <!-- About Us -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Words from the Committee</h1>
                <p>We are proud to say that the Bangor Chinese School (BCS) provides a valuable and necessary array of community and
                educational services. BCS serves as the umbrella organization that lends its planning and organization skills to a
                variety of activities important to bridging historical and cultural differences and maintaining productive dialog
                between the people of China and the United States. Focusing on Chinese language education for students and adults,
                student exchange, shared cultural events, educational services to public schools, private schools, adult learners,
                teachers, and business people in Maine and other states. We have been offering programs for all ages, with all levels
                and meet all need since 2001.<br>

                Working with government officials at the city, state, and federal level, BCS has forged excellent relations with the
                U.S. Department of State, the National Security Agency, and Maine's congressional delegation. BCS officials work
                regularly with Maine State Department of Education leaders, and Bangor, Maine's City Council. On July 13, 2009, the
                Council provided the Bangor Chinese School a City recognizing the efforts of the school and its officers in promoting
                Chinese language education and cultural experiences for area citizens. During the summer of 2011, with the help and
                sponsorship of the American Councils for International Education, our organization has trained twenty (20) Maine high
                school students in Mandarin Chinese and then taken them to China for a six-week, expense paid, educational program in
                language and culture. We are honorably awarded a key of the City of Bangor by Bangor City Council on March 5, 2018.<br>

                Our other activities include K-12 courses and programs in area schools, language courses at the University of Maine and
                Husson University, guided China trips for business people and professionals, special teacher education programs bearing
                university credit, cultural events, and summer camps for children. This past summer for the tenth year we had the good
                fortune of hosting the NSA at University of Maryland's STARTALK language program for Maine students and for Maine
                Chinese teachers training.<br>

                It is important that each one of us work to bridge historical and cultural differences and maintain a productive dialog
                between the People's Republic of China and the U.S. To put this more succinctly, for the sake of a brighter and better
                tomorrow, we should “think globally, and act locally.”</p>

                <a href="/courses" class="call-to-action-btn red-btn">EXPLORE MORE</a>
                <!-- explore more here can further add: An Appreciation Letter from Mayor/ Key to the City of Bangor/ Proclamation -->
            </div>
            <div class="about-col">
                <img src="/images/Screen Shot 2023-02-25 at 3.38.52 PM.png" alt="a colorful rainbow fish">
            </div>
        </div>
    </section>

<%- include('../partials/footer') -%>
