<%- include('../partials/head') -%>
<%- include('../partials/navbar-dragon') -%>

    <h1>Study Abroad</h1>
</section>

    <!-- Study Abroad -->
    <section class="about-us">
        <div class="row">

            <div class="about-col">
                <img src="/images/cherry-lin-ct58n7B6WbI-unsplash (1).jpg" alt="calligraphy">
            </div>

            <div class="about-col">
                <h1>Travel and Study in China Program</h1><br>
                <h4>About the Program:</h4>
                <p>Bangor Chinese School through partners in China provides the program for eligible middle school and high school students
                to learn Chinese language and experience Chinese culture by first hand in China during the summer of 2021. This is a
                language immersion program. We encourage Chinese learners with a passion for learning the language, communicating across
                cultures, and living abroad to apply.</p>
                <p>
                There is such an overwhelming amount of positive feedback every year for this study and travel in China program, that
                Bangor Chinese School has decided to continue to offer this program in the summer of 2020.</p>
                <p>This language-focused program will provide an opportunity for selected students to study and travel in China with the
                tuition to be paid. It will also provide partial support for in country travel, historical site visitation, cultural
                events, host family, food and lodging. In terms of educational experience, the program provides Chinese language
                instruction in the morning and cultural activities in the afternoon, and stay with host family in the evening if
                possible. Immersion in the Chinese language will be an essential part of this program and homestay will provide students
                with an opportunity to experience the hospitality, immersion language environment and culture of the people.</p>
                <h4>Date:</h4>
                <p>July 20-August 5, 2021</p>
                <h4>Places:</h4>
                <p>Beijing, Guilin and Shanghai (the destinations may change)</p>
                <h4>Number of spaces:</h4>
                <p>15</p>
                <h4>Host Institutes:</h4>
                <p>Heilongjiang Education Center for International Exchange, Harbin</p>
                <h4>Eligibility Requirements:</h4>
                <p>• US Citizen<br>
                • Currently enrolled in middle school or high school at time of application<br>
                • Minimum 2.5 GPA on a 4.0 scale<br>
                • Although previous language study is not a requirement, pre-departure intensive language training required</p>
                <h4>Application:</h4>
                <p>To apply the program, please download the Application Form and return the completed application form to: Bangor Chinese
                School, 5 Woodview Drive, Bangor, ME 04401. First come first serve will be applied to receive the scholarship, so please
                apply it as soon as possible. The deposit will be returned in full if your child is not accepted by the committee. The
                deposit will not be returned if you cancelled your application after you were accepted by the program.</p>

                <a href="" class="call-to-action-btn red-btn">Application Form</a>

            </div>

        </div>
    </section>

    <!-- Feedback -->
    <section class="feedback">

        <div class="row">
            <div class="feedback-col">
                <img src="/images/Screen Shot 2023-02-25 at 11.36.32 PM.png"
                    alt="little rabbit">
                <div>
                    <p>"Dear Jing, I have been meaning to write to you to say thank you for all you did to make Henry’s experience in China so
                    wonderful. I realize a trip like this takes a lot of time and effort to organize and I just wanted to acknowledge to you
                    how grateful I am that Henry was part of the Bangor Chinese summer program. For Henry, everything went so smoothly! I
                    would also like to acknowledge the graciousness of the host families. Henry learned a lot from each one of the families
                    and left China with a number of sincere friendships. Henry considered his host families the same as his own family. It
                    was nice to hear all about the traditions and care they took on behalf of Henry. It was certainly a trip of a lifetime!"</p>
                    <h3>Regina</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="feedback-col">
                <img src="/images/IMG_0197.jpg" alt="Michael Riedel, U.S. Diplomat">
                <div>
                    <p>"Hello, I want you to know how wonderful the trip was for Tyler and how excited he is to apply to the year
                        long program.
                        Tyler loved the trip. The trip was well organized, properly chaperoned, and had a high quality of learning
                        involved.
                        Tyler appreciated having homework and deadlines because it helped him manage his learning. He thought
                        everyone worked
                        hard to provide a educational and cultural experience. It is an amazing program that should be offered to
                        students in
                        Maine. I hope more students will take this great opportunity."</p>
                    <h3>Jennifer</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="feedback-col">
                <h3>For More Information:
                    <p>
                        Phone: 207-990-0710<br>
                        Fax: 207-990-5158<br>
                        Email: jingzhang@bangorchinese.com<br>
                        Address: 5 Woodview Drive, Bangor, ME 04401</p>
                </h3>

            </div>

        </div>
    </section>

<%- include('../partials/footer') -%>
