<%- include('../partials/head') -%>

<%- include('../partials/navbar-tower-admin') -%>

     <h1>Admin</h1>

    </section>

    <!-- Programs Offered for Children-->
    <section class="programs">
        <h1>Admin</h1>

        <div class="row">
            <a href="/admin/admin-courses" class="call-to-action-btn red-btn">
                <div class="programs-col">
                    <h3>Course Listing</h3>
                </div>
            </a>

            <a href="/admin/admin-services" class="call-to-action-btn red-btn">
                <div class="programs-col">
                    <h3>Services Listing</h3>
                </div>
            </a>
        </div>
    </section>

<%- include('../partials/footer') -%>
