<%- include('../partials/head') -%>
<%- include('../partials/navbar-leaf') -%>

<h1>Community Service</h1>
</section>

    <!-- Community Services  -->
    <section class="community-content">
        <div class="row">
            <div class="community-left">
                <img src="/images/panda/stone-wang-0wk7m5SVPsM-unsplash.jpg" alt="two pandas are eating bamboo">
                <h2>China Visa Application Services</h2>
                <p>The Bangor Chinese School not only help you learning Chinese language and bring you to China with us, but also can
                assist you get your China visa with fast and safe path. If you need one, please call or email us for details.</p>
                <br>
                <h2>TOEFL/SAT Preparation</h2>
                <p>International high school students must overcome many obstacles when planning to attend an American college, including
                English fluency, standardized test scores and knowledge of the U.S. higher education system. Our TOEFL/SAT Preparation
                program is designed to give students the support they need in all of these areas.
                </p>
                <br>
                <p>We are offering small groups or individual classes to students wishing to better prepare for their TOEFL and SAT's.
                Small groups consist of four to six students. Our teachers have experience equipping and preparing foreign students with
                the English skills needed to do their best on the TOEFL and SAT's. Individual tutoring is also available any time upon
                request.</p>
                <br>
                <h2>Bridge to America</h2>
                <p>This special program offers visiting Chinese students a welcoming environment and a broad range of services to meet
                their educational and social needs. Located in Bangor, Maine in one of America’s safest small cities, this successful
                program is one in which your student will grow and become a competent young scholar able to compete successfully at all
                levels of American education. For detailed information, please download the program brochure.</p>
                <br>
                <h2>Math Tutoring</h2>
                <p>Basic math, algebra, geometry, statistics, trigonometry, pre-calculus, and calculus.</p>
                <br>
                <h2>Assistance to Driver License</h2>
                <p>Driving practice: $42/hour, including the time to pick up and drop off. Adding $6/hour if we provide a vehicle.</p>
                <br>
                <h2>For more information, please contact us at:</h2>
                <p>Phone: 207-990-0710<br>
                Fax: 207-990-5158<br>
                Email: jingzhang@bangorchinese.com<br>
                Address: 53 Cumberland Street, Bangor, ME 04401</p>
                <p><br></p>


                <div class="comment-box">
                    <h3>Leave a comment</h3>
                    <form class="comment-form">
                        <input type="text" placeholder="Enter your name" required>
                        <input type="email" placeholder="Enter your email" required>
                        <textarea rows="5" placeholder="Enter your comment" required></textarea>
                        <button type="submit" class="call-to-action-btn red-btn">Submit</button>
                    </form>
                </div>
            </div>
            <div class="community-right">
                <h2>Interpreting Services</h2>
                <h3>1. Service Fields:</h3>
                <div>
                    <span>On-site and remote medical organizations, educational systems, law enforcement
                    agencies, business, and court interpreting services, including ASL interpreting
                    services, and documents translation. Bangor Chinese School has been provided
                    professional interpreting services statewide in many areas for many years with State
                    licensed and nationally certified interpreters.</span>
                </div>
                <h3>2. Service Languages:</h3>
                <div>
                    <span>American Sign Language and all spoken languages,
                    such as Albanian, Arabic, Bengali, Cambodian, Chinese, Creole, Dari,
                    Farsi, French, Fur, German, Greek, Hebrew, Hindi, Japanese,
                    Jewish, Ibo, Indian, Indonesian, Italian, Korean, Laos, Malay, Nepali,
                    Persian, Parkistani, Polish, Punjabi, Romanian, Russian, Serbian,
                    Somali, Spanish, Tagalog, Thai, Turkish, Urdu, Vietnamese, and more.</span>
                </div>
                <h3>3. Service Time:</h3>
                <div>
                    <span>The interpreting services will be available 24/7/365.</span>
                </div>
                <h3>4. Service Rate:</h3>
                <div>
                    <span>The rate is varied according to specific cases.</span>
                </div>
                <h3>5. Our Clients:</h3>
                <div>
                    <span><h4>Healthcare Organizations:</h4>Eastern Maine Medical Center (EMMC), Eastern Maine Healthcare Systems,
                    St Joseph Hospital, Acadia Hospital, Maine Coast Memorial Hospital,
                    Mayo Regional Hospital, Brewer Medical Center, Hometown Health Center, Penobscot Valley
                    Hospital, Sebasticook Valley Hospital, Penobscot Pediatrics,
                    Helen Hunt Health Center, Stillwater Healthcare, Vision Care of
                    Maine, Hanger Clinic, PCHC Dental Center, Penobscot Community
                    Health Center (PCHC) at Bangor, Old Town, and Orono, Katahdin Pediatric
                    Dentistry, Advanced Clinical Eyecare, Eye Care of Maine, Newport Eye Care,
                    Eastern Maine Eye Associates, Dr. Albert – Optometrist, Coastal Med Tech,
                    Dirigo Counseling Clinic, Downeast Orthopedics, Bangor Gastroenterology,
                    Penobscot Valley Dermatology at Bangor and Orono, Hanger Clinic, Pines Health, Sebasticook Dental Center,
                    Norman Hanson Detroy, Thomas Massage Therapy, Dragonfly Physical Therapy,
                    Dr. Robert Erickson Office, UCP/Elizabeth Levinson Center, Acadia Medical Arts Ambulatory Surgical Suite, Downeast
                    Surgery Center</span>
                </div>
                <div>
                    <span>
                        <h4>Schools:</h4>Bangor School System, Orono School System, Old Town School System,
                        Bucksport School System, Newport School System, Foxcroft Academy,
                        Lee Academy, George Stevens Academy, Washington Academy;
                        Maine School Administrative District #1, #6, #27, #28 and #41;
                        RSU #18, #19, #24, #25, #26, #31, #41 and #87
                    </span>
                </div>
                <div>
                    <span>
                        <h4>Other Clients:</h4>Bangor Police Department, GE, ND Paper at Old Town Maine, Old Town Housing Authority, Law Office of James W.
                        Brannancourts,
                        other law offices, courts, businesses, government offices, etc.</span>
                </div>
                <h3>6. Employment opportunities:</h3>
                <div>
                    <span>We need interpreters on all languages, including American Sign Language. Please fill out the Interpreting Job
                    Application Form and Form W-9 if you are interesting in these part-time jobs.</span>
                </div>
            </div>

        </div>



    </section>

    <!-- Feedback -->
    <section class="feedback">
        <h1>Feedbacks</h1>
        <p>Connect yourself with the future...</p>

        <div class="row">
            <div class="feedback-col">

                <div>
                    <p>"I enjoy to work with Bangor Chinese School. The school provides
                    me a professional work opportunity"</p>
                    <h3>---Interpreters</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="feedback-col">

                <div>
                    <p>"We are very satisfied with the interpreters sent by Bangor Chinese School.
                    They are very responsible, skillful and professional. So happy to work with
                    them!"</p>
                    <h3>---Consumers</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="feedback-col">

                <div>
                    <p>"We enjoy working with Bangor Chinese School. The agency provides
                    strong support, clear guidelines, respect and fast payment"</p>
                    <h3>---
                    Interpreters (both ASL and Spoken Languages)</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="feedback-col">

                <div>
                    <p>"We are very happy working with Bangor Chinese School and its
                    interpreters of both ASL and all spoken languages. They are very
                    reliable so we always send requests with confidence; their
                    interpreters are not only very professional but also share the
                    related cultures through their interpreting job, which is very
                    important to both our staff and our customers"</p>
                    <h3>---Clients
                    in the community (hospitals, schools, courts, attorney firms
                    and immigration offices)</h3>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
    </section>

<%- include('../partials/footer') -%>
