<%- include('../partials/head') -%>
<%- include('../partials/navbar-tower') -%>
        <h1>Maine Chinese Conference</h1>

    </section>

    <!-- Maine Chinese Conference -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Friday and Saturday, October 28-29, 2022, Husson University, Bangor, Maine</h1>
                <p>Presented by: The Chinese Language and Culture Center of Maine and Bangor Chinese School<br>
                In collaboration with: The Maine Department of Education, the University of Maine and the City of Bangor</p>
                <p>Keynote Speakers:<br>

                Jianjun Jiang<br> Joe Baldacci<br>

                April Perkins<br> Jessie Maeer<br> Xiuping Ladd<br>

                Grace Pei<br> Julia Rust<br> Nathan Rockwood<br> Jaime Beal</p>
                <p>The primary participants of the conference:<br>
                School administrators, board members, teachers, students, parents, members of institutions of higher education,
                businesspeople, politicians, entrepreneurs, and interested others.
                </p>
                <p>Topics of Conference:<br>Education, Culture and Cooperations between the US and China</p>
                <p>2022 Maine Chinese Language Conference Committee:<br>

                Jing Zhang, Coordinator of 2022 Maine Chinese Conference, Director of Maine Language and Culture Center, and President
                of Bangor Chinese School<br>
                April Perkins, World Languages Specialist, Maine Department of Education
                Raymond Pelletier, Professor, Modern Languages and Classics, University of Maine<br>
                James T. Kenny, Chair, Board of Directors, Maine Confucius Classroom; Former Dean, Husson University<br>
                Elizabeth Chabe, Chair, Board of Directors, the Chinese Language and Culture Center of Maine<br>
                Mel MacKay, Head of school, John Bapst High School<br>
                Gerry Palmer, Former Mayor, the City of Bangor<br>
                Suzhong Tian, Academic Officer, Bangor Chinese School


                </p>
                <p>For more information: Please call 207-990-0710 or email us at jingzhang@bangorchinese.com.</p>

            </div>
            <div class="about-col">
                <img src="/images/lin-qiang-SEYO0Botkgc-unsplash.jpg"
                    alt="Chinese pagodas">
            </div>
        </div>
    </section>

<%- include('../partials/footer') -%>
