<%- include('../partials/head') -%>
<%- include('../partials/navbar-leaf') -%>
        <h1>Contact Us</h1>
    </section>

    <!-- Contact -->
    <section class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11322.943786557675!2d-68.7720543!3d44.8065697!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cae4b4ede85ccb1%3A0xef04bcb1a4ecc1e8!2sBangor%20Chinese%20School!5e0!3m2!1szh-CN!2sus!4v1677483817152!5m2!1szh-CN!2sus"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="contact-us">
        <div class="row">
            <div class="contact-us-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span>
                        <h5>
                        Bangor Chinese School
                        </h5>
                        <p>53 Cumberland Street
                        Bangor, ME 04401</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>
                            +1 (207) 990-0710
                        </h5>
                        <p>Monday-Friday 10 a.m.-4 p.m.</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <span>
                        <h5>
                            jingzhang<br>@bangorchinese.com
                        </h5>
                        <p>Email us</p>
                    </span>
                </div>
            </div>
            <div class="contact-us-col">
                <form action="">
                    <input type="text" placeholder="Enter your name" required>
                    <input type="email" placeholder="Enter your email" required>
                    <input type="text" placeholder="Enter your title" required>
                    <textarea rows="8" placeholder="Enter your message" required></textarea>
                    <button type="submit" class="call-to-action-btn red-btn">Submit</button>
                </form>
            </div>
        </div>

    </section>


<%- include('../partials/footer') -%>
