<%- include('../partials/head') -%>

<%- include('../partials/navbar-tower-admin') -%>

    <h1>Create Course</h1>
</section>


    <!-- Create Course -->
    <section class="about-us">
        <div class="row">
            <div class="contact-us-col">
                <div class="about-col">
                <img src="/images/li-yang-5h_dMuX_7RE-unsplash.jpg" alt="a colorful rainbow fish">
            </div>
            </div>

            <div class="contact-us-col">

                <form action="/courses" method="POST">
                <div>
                    <label for="courseName">CourseName: </label>
                    <input type="text" name="courseName" id="courseName" minlength="1" required />
                </div>

                <div>
                    <label for="about">course Description: </label>
                    <input type="text" name="about" id="about" minlength="5" required />
                </div>

                <div>
                    <label for="date">Date and time: </label>
                    <input type="text" name="date" id="date" min="1"/>
                </div>

                <div>
                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" min="1"/>
                </div>

                <div>
                    <label for="moreInfor">More about the course:</label>
                    <textarea  rows="8" class="text-area-label" name="moreInfor" id="moreInfor" placeholder="More about the course"></textarea>
                </div>

                <div>
                    <button type="submit" class="call-to-action-btn red-btn">Submit</button>
                </div>
                <a href="/admin/admin-courses" class="call-to-action-btn red-btn">Back to Admin - Courses</a>

            </form>
            </div>

        </div>
    </section>

<%- include('../partials/footer') -%>
