<%- include('../partials/head') -%>
<%- include('../partials/navbar-leaf') -%>

<!-- main-content section starts  -->
<h1>Login</h1>

</section>
<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Login</h1>
            <p>
            <form class="comment-form" action="/login" method="POST">
                <div>
                    <label for="username">Username </label>
                    <input type="text" name="username" id="username" required />
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required />
                </div>
                <div>

                    <button type="submit" class="call-to-action-btn red-btn" value="Submit">Submit</button>
                </div>

                <button>
                    <a class="call-to-action-btn" href="/auth/google" role="button">Login with Google</a>
                </button>

                <p>Don't Have An Account? <a href="/register">Create one here.</a> </p>
            </form>
            </p>
        </div>

        <div class="about-col">
            <img src="/images/lin-qiang-SEYO0Botkgc-unsplash.jpg" alt="a colorful rainbow fish">
        </div>
    </div>
</section>


<!-- main-content section ends -->

<%- include('../partials/footer') -%>
