<%- include('../partials/head') -%>
<%- include('../partials/navbar-leaf') -%>

<h1>Not Authorized</h1>
    </section>
    <section class="programs">
        <h1>You are unauthorized to register as a student or parent. Please contact the administrator for assistance.</h1>
        <a href="/register" class="call-to-action-btn red-btn">Back to Register Page</a>


    </section>
<%- include('../partials/footer') -%>
