<%- include('../partials/head') -%>

<%- include('../partials/navbar-tower-admin') -%>

    <h1>Create Services</h1>
</section>
    <!-- Create Services -->
    <section class="about-us">
        <div class="row">
            <div class="contact-us-col">
                <div class="about-col">
                <img src="/images/Screen Shot 2023-02-25 at 3.38.52 PM.png" alt="a colorful rainbow fish">
            </div>
            </div>

            <div class="contact-us-col">
                <form action="/services" method="POST">
                <div>
                    <label for="serviceName">service Name: </label>
                    <input type="text" name="serviceName" id="serviceName" minlength="1" required />
                </div>

                <div>
                    <label for="content">About the course: </label>
                    <input rows="8" type="text" name="content" id="content" minlength="5" required />
                </div>

                <div>
                    <button type="submit" class="call-to-action-btn red-btn">Submit</button>
                </div>

            </form>

            </div>

        </div>
    </section>

<%- include('../partials/footer') -%>
