<%- include('../partials/head') -%>

<%- include('../partials/navbar-tower-admin') -%>

    <h1>Create Services</h1>
</section>
    <!-- Create Services -->
    <section class="about-us">
        <div class="row">
            <div class="contact-us-col">
                <div class="about-col">
                <img src="/images/oriento-bAzDhilQFsA-unsplash.jpg" alt="a tea cup on a book">
            </div>
            </div>

            <div class="contact-us-col">
                <form action="/services" method="POST">
                <div>
                    <label for="serviceName">service Name: </label>
                    <input type="text" name="serviceName" id="serviceName" minlength="1" required />
                </div>

                <div>
                    <label for="content">About the course: </label>
                    <textarea rows="8" class="text-area-label" type="text" name="content" id="content" minlength="5" required></textarea>
                </div>

                <div>
                    <button type="submit" class="call-to-action-btn red-btn">Submit</button>
                </div>
                <a href="/admin/admin-services" class="call-to-action-btn red-btn">Back to Admin - Services</a>

            </form>

            </div>

        </div>
    </section>

<%- include('../partials/footer') -%>
