<%- include('../partials/head') -%>

<%- include('../partials/navbar-tower-admin') -%>

    <h1>Create Services</h1>
</section>
    <!-- Create Services -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <main>
                <h1> <span>Create Services</span> </h1>
                <form action="/services" method="POST">
                <div>
                    <label for="serviceName">service Name: </label>
                    <input type="text" name="serviceName" id="serviceName" minlength="1" required />
                </div>

                <div>
                    <label for="content">About the course: </label>
                    <input type="text" name="content" id="content" minlength="5" required />
                </div>

                <div>
                    <input type="submit" value="Submit"/>
                </div>

            </form>
            </main>
            </div>
            <div class="about-col">
                <img src="/images/Screen Shot 2023-02-25 at 3.38.52 PM.png" alt="a colorful rainbow fish">
            </div>
        </div>
    </section>

<%- include('../partials/footer') -%>
