* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* :root {
    --teal: #006B6B;
    --light-teal: #009E9E;
    --yellow: #FCCF14;
    --blue: #063C5E;
    --grey: #C2C2C2;
    --white: #FFFFFF;
} */

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #FF940D; }
.My-Color-Theme-2-hex { color: #E8670C; }
.My-Color-Theme-3-hex { color: #FF4400; }
.My-Color-Theme-4-hex { color: #E8260C; }
.My-Color-Theme-5-hex { color: #FF0D22; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(255, 148, 13, 1); }
.My-Color-Theme-2-rgba { color: rgba(232, 103, 12, 1); }
.My-Color-Theme-3-rgba { color: rgba(255, 68, 0, 1); }
.My-Color-Theme-4-rgba { color: rgba(232, 38, 12, 1); }
.My-Color-Theme-5-rgba { color: rgba(255, 13, 34, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(33, 100, 52, 1); }
.My-Color-Theme-2-hsla { color: hsla(24, 90, 47, 1); }
.My-Color-Theme-3-hsla { color: hsla(16, 100, 50, 1); }
.My-Color-Theme-4-hsla { color: hsla(7, 90, 47, 1); }
.My-Color-Theme-5-hsla { color: hsla(354, 100, 52, 1); }

.header {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(255, 148, 13, 1), rgba(232, 38, 12, 1));
    background-image: url(../images/annie-spratt-rdVLN3UFmpU-unsplash-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 230px;
}

.menu-links {
    flex: 1;
    text-align: right;
}

.menu-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.menu-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.menu-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: linear-gradient(rgba(255, 148, 13, 1), rgba(232, 38, 12, 1));
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu-links ul li:hover::after {
    width: 100%;
}

.text-area {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-area {
    color: #ffffff;
    /* white text */
}

.text-area {
    font-size: 24px;
    /* increase font size */
}

.text-area {
    font-weight: bold;
    /* increase font weight */
}

.text-area {
    text-shadow: 1px 1px 2px #000000;
    /* add text shadow */
}

.text-area h1 {
    font-size: 62px;
}

.text-area p {
    margin: 10px 0 40px;
}

.call-to-action-btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 23px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.call-to-action-btn:hover {
    border: 1px solid rgba(255, 146, 13, 0.673);
    background: rgba(255, 146, 13, 0.673);
    transition: 1s;
}

nav .fa,
nav .fa-solid {
    display: none;
}

@media(max-width: 768px) {
    .text-area h1 {
        font-size: 30px;
    }

    .menu-links ul li {
        display: block;
    }

    .menu-links {
        position: fixed;
        background: linear-gradient(rgb(160, 37, 37), rgba(98, 83, 31, 0.96));
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa,
    nav .fa-solid {
        display: block;
        color: #ffffff;
        margin: 10px;
        /* font-size: 22px; */
        cursor: pointer;
    }

    .menu-links ul {
        padding: 20px;

    }
}

/* Programs Offered */
.programs {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.programs p,
.programs ul li,
.classes p,
.news p,
.feedback-col p,
.feedback p,
.about-col p,
.about-col ul li,
.footer-camp p,
.community-content p,
.community-right div,
.contact-us p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    list-style: none;
    /* text-align: left; */

}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.programs-col {
    flex-basis: 31%;
    background: rgba(255, 146, 13, 0.146);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.programs-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 768px) {
    .row {
        flex-direction: column;
    }
}

/* Classes */

.classes {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.classes-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.classes-col img {
    width: 100%;
    /* height: 90%; */
    display: block;
 }

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
 }

 .layer:hover {
    background: rgb(252, 231, 205);
 }

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #000000;
    background: #ffffff;
    /* font-size: 26px; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    /* opacity: 0; */
    transition: 0.5s;
}

.layer p,
.layer ul li {
    opacity: 0;
    /* bottom: 49%; */
}

.layer:hover p,
.layer:hover ul li {
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    /* padding: 6px; */
    list-style: none;
    opacity: 1;
}

.layer:hover ul li {
    font-size: 14px;
}

.layer:hover h3 {
    bottom: 19%;
    opacity: 1;
}

/* News */
.news {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.news-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.news-col img {
    width: 100%;
    border-radius: 10px;
}

.news-col p {
    padding: 0;
}

.news-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Feedback */
.feedback {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.feedback-col {
    flex-basis: 29%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    /* background: #fff3f3; */
    padding: 20px;
    cursor: pointer;
    display: flex;
}

.feedback-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.feedback h3 {
    text-align: left;
    font-size: 20px;
    margin-top: 15px;
}

.feedback-col .fa-solid {
    color: #E8260C;
}

@media(max-width: 768px) {
    .feedback-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* Contact */
.contact {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/Screen\ Shot\ 2023-02-25\ at\ 2.51.29\ AM.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding:  100px 0;
}

.contact h1{
    color: #ffffff;
    margin-bottom: 40px;
    padding: 0;
}

/* Footer */
.footer {
    background: rgba(255, 146, 13, 0.146);
    padding-top: 40px;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h2 {
    color: #000000;
    /* font-size: 2.5rem; */
    padding: 1rem 5rem;
    font-size: 26px;
}

.footer .box-container .box a {
    display: block;
    color: #777;
    /* font-size: 1.5rem; */
    padding: 0.5rem 5rem;
    text-decoration: none;
    font-size: 14px;
}

.footer .box-container .box a:hover {
    color: #FF4400;
}

.footer .created {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.032);
}

.footer .created span {
    color: #FF4400;
}

/* About Us Page */

.sub-header {
     height: 50vh;
     width: 100%;
     background-image: linear-gradient(rgba(87, 22, 22, 0.7), rgba(30, 4, 4, 0.7)), url(../images/xianyu-hao-ZxSxKTR5ZWs-unsplash\ copy.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color: #ffffff;
}

.sub-header h1 {
    margin-top: 120px;
    font-size: 30px;
 }

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
 }

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
 }

.about-col img {
    width: 100%;
 }

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid rgba(255, 146, 13, 0.673);
    background: transparent;
    color: rgba(255, 146, 13, 0.673);
    margin-top: 30px;
}

.red-btn:hover {
    color: #ffffff;
}

/* Camp Page */

.camp{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(87, 22, 22, 0.903), rgba(30, 4, 4, 0.925)), url(../images/ivan-aleksic-ioTPXrY_lyI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.camp-col img {
    width: 100%;
    border-radius: 50%;
}

.about-col span {
    color: #FF4400;
}

.about-col h3 {
    padding-top: 30px;
}

.camp-feedback-row {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.camp-feedback-col {
    margin-top: 100px;
    background: #e8260c10;
}

.footer-camp {
    width: 100%;
    text-align: center;
    padding: 30px, 0;
}

.footer-camp h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/* Teacher Program */
teacher-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.teacher-col img {
    width: 100%;
    display: block;
}

.layer-teacher {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer-teacher:hover {
    background: rgba(226, 147, 0, 0.7);
}

.layer-teacher h3 {
    width: 100%;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer-teacher:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.programs-col p,
.programs-col ul li {
    text-align: left;
}

.teacher-btn{
    margin-top: 80px;
}

/* Community Services */
.community-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.community-left {
    flex-basis: 65%;
}

.community-left img {
    width: 100%;
}

.community-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.community-left p{
    color: #999;
    padding: 0;
}

.community-right {
    flex-basis: 32%;
}

.community-right h3 {
    background: #E8260C;
    color: #ffffff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.community-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}

/* Contact Us */
.map {
    width: 83%;
    margin: auto;
    padding: 80px 0;
}
.map iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-us-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-us-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-us-col div .fa {
    font-size: 23px;
    color: #FF940D;
    margin: 10px;
    margin-right: 30px;
}

.contact-us-col div p {
    padding: 0;
}

.contact-us-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #550;
    font-weight: 380;
}

.contact-us-col input,
.contact-us-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #999;
    box-sizing: border-box;
}

/* Conference Page */
.sub-header_2 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(87, 22, 22, 0.949), rgba(30, 4, 4, 0.868)), url(../images/Screen\ Shot\ 2023-03-07\ at\ 12.55.36\ AM.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.sub-header_2 h1 {
    margin-top: 120px;
    font-size: 30px;
}

/* Login Page */
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: var(--black);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}
